<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TO /bar</h1>
<form method="POST" action="/bar">
    <input type="text" name="fname">
    <input type="submit">
</form>
<h1>To /barred</h1>
<form method="POST" action="/barred">
    <input type="text" name="fname">
    <input type="submit">
</form>

</body>
</html>